h1 {
    font-family: Verdana;
    font-weight: Normal;
    Font-size: 50px;
    color: white;
    text-align: center;
}

body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

p {
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

h3{
font-size: 21px;
color: gray;

}

.phone {
    padding-top: 30px;
}

.footer {
text-align: right;
color: gray;
}